body {
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
}

header{
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

.flex-container{
    display: flex ;
    justify-content: space-evenly; 
}

header p{
    margin: 0
}

p.top-row{
    font-size: 1.4em;
}

p.bottom-row{
    font-size: 1.6em;
}

.timer{
    color: green;
}

.timer.warning{
    color: red;
}

canvas{
    margin-top: -1em
}
