@font-face {
    font-family: 'Atma';
    src: url('../fonts/Atma/');
    src: url('../fonts/Atma/?#iefix') format('embedded-opentype'),
        url('../fonts/Atma/Atma-Regular.woff2') format('woff2'),
        url('../fonts/Atma/Atma-Regular.woff') format('woff'),
        url('../fonts/Atma/Atma-Regular.ttf') format('truetype'),
        url('../fonts/Atma/Atma-Regular.svg#Atma-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Harmattan';
    src: url('../fonts/Harmattan/');
    src: url('../fonts/Harmattan/?#iefix') format('embedded-opentype'),
        url('../fonts/Harmattan/Harmattan-Regular.woff2') format('woff2'),
        url('../fonts/Harmattan/Harmattan-Regular.woff') format('woff'),
        url('../fonts/Harmattan/Harmattan-Regular.ttf') format('truetype'),
        url('../fonts/Harmattan/Harmattan-Regular.svg#Harmattan-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* 

    General Styles 
    
*/

body {
    background-color: white;
    font-family: 'Harmattan', sans-serif;
    max-width: 100%;
    margin: 0;
    padding: 0;

}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.content-heading {
    color: rgb(9, 13, 42);
    font-size: 1.6em;
    margin-bottom: 0;
}

.menu-icon{
    visibility: hidden;
}

/* 

    Heading 
    
*/

header {
    width: 100%;
    border: 1px solid #ffffff00;
    color: rgb(1, 5, 39);

    background-image: url(../images/header-image.png);
    /* background-color: rgb(238, 235, 235); */
    background-repeat: none;
    background-size: cover;
}

.heading {

    max-width: 900px;
    margin: 0 auto;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.heading img {
    width: 10%;
    margin: 0 1.5em;
}

.heading-text {
    padding: 0 1em;
}

.heading-text h1 {
    font-family: 'Atma', cursive;
    font-size: 5em;
    font-weight: 700;
    margin-bottom: 0;

}
.heading p {
    margin-top: 0;
    font-size: 2em;
    font-weight: 400;
}

/* 

    Navigation

*/

.nav-bar {
    background-color: rgb(2, 6, 39);
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1% 0;
    z-index: 5;
}

.nav-bar-list {
    max-width: 800px;
    margin: 0 auto;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-list li {
    display: inline-block;
}

.nav-bar-list a {
    font-size: 1.5em;
    padding: 5px 30px;
    text-decoration: none;
    color:white;
    word-wrap: normal;
}

.nav-bar-list a:hover {
    font-size: 1.6em;
    text-decoration: underline;
}


/* 

    Main Content

*/


.content {
    font-size: 1.4em;
    padding: 1%;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}

.content article {
    margin: 0;
}

/* Profile */

.profile-content {
    width: 100%;
    align-items: center;
}

.profile-image {
    width: 39%;
    justify-content: left;
}

.profile-image img {
    width: 60%;
    height: 60%;
}

.profile-summary {
    width: 58%;
    line-height: 1.2em;
    margin-left: 1em; 
}


/* Featured Work */

.featured-work section {
    width: 100%;
    justify-content: space-evenly;
} 

.featured-work-item {
    width:33%;
    /* max-width: 33%; */
    margin: 1.5px;
}

.featured-work-item:hover {
    opacity: 0.5;
}

.featured-work-item a{
    color: rgb(9, 15, 63);
    font-size: 0.8em;
    text-decoration: none;
}


.featured-work-item h3 {
    font-size: 1.3em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.featured-work-item img {
    width: 80%;
    justify-content: space-evenly;
}

/* Resume */

.resume a {
    color: rgb(31, 43, 134);
    text-decoration: none;
}

.resume a:hover {
    font-size: 1.1em;
    text-decoration: underline;
}

/* Contact Me */

.social {
    list-style-type: none;
    justify-content: space-evenly;
}

.social a {
    color: black;
    margin: 10px;
    text-decoration: none;
    font-family: 'Harmattan', sans-serif;
} 

.social a:hover {
    font-size: 1.2em;
    color: rgb(13, 18, 56);
} 


/* 

    Footer

*/


footer {
    background-color: rgb(2, 6, 39);
    font-size: 1.2em;
    color: white;
}

footer p {
    vertical-align: middle;
    text-align: center;
    padding: 4%;
}

