@media screen and (max-width: 930px) {
    .content {
        font-size: 1.3em;
    }

    .profile-image {
        width: 32%;
        justify-content: center;
    }
    
    .profile-image img {
        width: 80%;
        height: 80%;
    }

    .featured-work-item {
        width:30%;
        margin: 1px;
    }
}

@media screen and (max-width: 700px) {

    .heading img {
        width: 13%;
    }

    .heading-text h1 {
        font-size: 4.2em;
    }

    .heading-text p {
        font-size: 1.5em;
    }

    .nav-bar-list a {
        font-size: 1.3em;
   }
    
    .nav-bar-list a:hover {
        font-size: 1.38em;
    }

    .profile-image img {
        width: 90%;
        height: 100%;
    }

}

@media screen and (max-width: 600px) {

    .heading {
        border-bottom: 2px solid rgb(2, 6, 39);
    }

    .heading-text h1 {
        font-size: 3.5em;
    }

    .heading-text p {
        font-size: 1.1em;
    }

    .menu-icon{
        visibility: visible;
        position: relative;
        left: 5%;
    }
    
    .nav-bar{
        position: absolute;
        top: 0;
        right: 0 ;
        width: 50%;
        transform: translate(-2000px, 0);
        transition: transform 0.5s ease-in-out;
        background-color: white;
    }

    .nav-bar-list{
        padding-left: 0;
    }

    .nav-bar-list li {
        display: block;
        width: 100%;
        padding: 5px 20px;
        border-bottom: 1px solid #ddd;
    }

    .nav-bar-list a {
        color: rgb(2, 6, 39);
        font-size: 1.2em;
    }

    .nav-bar-list a:hover {
        font-size: 1.2em;
    }


    .nav-bar.open{
        transform: translate(0,0);
    }

    .profile-content, .profile-image {
       display: inline;
    }

    .profile-content {
        width: 100%;
    }

    .profile-image {
        float: left;
        width: 35%;
        margin: 5% 5% 0 5%;
    }

    .profile-summary {
        width: 90%;
        margin: 0 auto;
    }

    .content-heading:nth-of-type(1){
        margin-top: 0;
    }

    .content-heading {
        font-size: 1.3em;
    }

    .featured-work section {
        flex-direction: column;
    }

    .featured-work-item {
        width:80%;
        margin: 0 auto 20px;
    }

    .featured-work-item p {
        margin: 0;
        padding: 0;
    }   

}

@media screen and (max-width: 500px) {
    .social {
       font-size: 0.9em;
    }

    .social li:last-child{
        margin: 10px auto 0; 
    }

}